div>p{
    color: aqua;
}
.abc{
    color: aqua;
}
tr:nth-child(odd){
    background-color: rgb(195, 197, 194);
}
tr:hover:nth-child(odd){
    background-color: rgb(67, 72, 75);
}
table, td{
    border: 1px solid black;
}
table{
    width: 100%;
}
div>table{
    border: 1px solid black;
    width: 50%;
    border-style: dashed;
}
